<div class="card">
    <div class="card-content">
        <h3 class="center">Screenshot app</h3>
        <div class="row">
            <div class="input-field col s12">
                <input id="url" type="url" />
                <label  for="url">
                    Enter website url
                </label>
            </div>
        </div>
        <h5 class="center" id="loader"></h5>
        <div class="creafix"></div>
        <button id="take" class="btn waves-effect waves-light blue right">Take screenshot</button>
        <img id="screenShot" width="100%">
    </div>
</div>
    
